.Customer {
    word-break: keep-all;

    h3 {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: 0 0 2rem 0;

    }

    .tel {
        font-size: 4rem;
        font-weight: 900;
        margin: 0 0 2rem 0;
    }

    .open {
        font-size: 1.4rem;
        line-height: 1.45;
    }

    strong {
        display: block;
        line-height: 1.45;
        margin: 0 0 2rem 0;
    }

    .sns {
        display: flex;
        gap: 1rem;

        i {
            padding: 1rem;
            background: #333;
            color: #fff;
            font-size: 1.5rem;
            border-radius: 50%;
        }
    }
}