@use 'common';

.Footer {
    margin: 10rem 0 0 0;

    .top {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    p {
        line-height: 1.45;
    }

    .inner {
        display: flex;
        gap: 10rem;
        padding: 5rem 0;
        font-size: 1.4rem;

        &>* {
            position: relative;
            flex: 1;
            padding: 2rem 0;
        }

        &>*~*::after {
            content: "";
            position: absolute;
            left: -5rem;
            top: 0;
            width: 1px;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);

        }
    }

}